* {
    margin: 0px;
    padding: 0pc;
}

html, body {
margin: 0px;
height: 100%;
}
#boven{
    height: 15%;
    width: 100%;
    background-image:url("../images/bbq.jpg");
    background-size: 100%;
    background-position-y: 60%;
    margin: 0%;
    border: solid 2px;
}
#onder{
    height: 100%;
    width: 20%;
    background-color:lightseagreen;
    border: solid 3px;
    background-image:url("../images/houtachtergrond.jpg");
    background-size: 100%;
}
#container{
    height: 100%;
    width: 100%;
    margin:0%;
    display: flex;
}
ul a {
    background-color:grey;
    display:block;
    text-decoration: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 4px;
    padding: 10px;
    border: solid 3px black;
}
ul a:hover{
    background-color: rgb(60,60,60);
}
h1{
    text-align: center;
    font-size: 90px;
    color: #c74348;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: "impact";
}
#rechts{
    height: 100%;
    width: 80%;
    border: solid 3px;
    background-image:url("../images/steniger.jpg");
    background-size: 100%;
}
b{
    text-shadow:  -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h2{
    color: blanchedalmond;
    margin-left: 5%;
    font-size: 50px;
    margin-top: 30px;
}
