body{
    background-image: url("https://i.redd.it/wicyhcpc1xyy.jpg");
    background-size: cover;
}
h1{
    font-size: 100px;
    color: #EDD6A8;
    text-align: center;
}
p{
    padding: 140px;
    font-size: 40px;
    color: #DDCCAA;
}