* {
    margin: 0px;
    padding: 0pc;
}

html, body {
margin: 0px;
height: 100%;
}
#boven{
    height: 15%;
    width: 100%;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVjKUhZfhy5Ofm9KlSpdNB1YZt9Tt3Sedm9jYYhVbAMd7HavHP");
    background-size: 100%;
    margin: 0%;
    border: solid 2px;
}
#onder{
    height: 100%;
    width: 20%;
    background-color:lightseagreen;
    border: solid 3px;
    background-image:url("../images/houtachtergrond.jpg");
    background-size: 100%;
}
#container{
    height: 100%;
    width: 100%;
    margin:0%;
    display: flex;
}
#rechts{
    height: 100%;
    width: 30%;
    background-image:url("../images/houtachtergrond.jpg");
    background-size: 100%;
    border: solid 3px;
}
#midden{
    height: 100%;
    width: 50%;
    border: solid 3px;
    background-image:url("../images/grill.jpg");
    background-size: 100%;
}
ul a {
    background-color:grey;
    display:block;
    text-decoration: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 4px;
    padding: 10px;
    border: solid 3px black;
}
ul a:hover{
    background-color: rgb(60,60,60);
}
#menu{
    width: 40%;

}
.vak{
    height: 20%;
    width: 80%;
    background-color: grey;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    border: solid 3px;
}
h1{
    text-align: center;
    font-size: 90px;
    color: blanchedalmond;
}
.tekstvak{
    font-size: 40px;
    color: blanchedalmond;
}
.auto{
    width: 90%;
    margin:5%;
    margin-top: 10px;
    border: solid 3px;
}

